/*=============== Category Form ===============*/

.category-form {
  padding: 3rem 3rem 4rem 3rem;
  border-bottom: 1px solid lightgrey;
}

.category-form form {
  display: grid;
}

.category-form .form-group {
  margin: 1rem;
}

.category-form .section-title {
  text-align: center;
}

.category-form .form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 1rem;
}

.category-form .form-group input {
  width: 40%;
}

.category-form .form-group button {
  margin-left: 2rem;
}

/*=============== Category List ===============*/

.category-list {
  max-height: 450px;
  overflow-y: auto;
}

.category-list .section-title {
  margin-top: 3rem;
  font-size: 1.5rem;
  text-align: center;
}

.category-table {
  table-layout: fixed;
  border-left: none;
  border-right: none;
  margin-bottom: 1rem;
}

.category-table tr th,
.category-table tr td {
  padding: 0.5rem;
  text-align: center;
}

.category-table tr:hover {
  background-color: #f2f2f2;
}

.category-table tr th:nth-child(1),
.category-table tr td:nth-child(1) {
  border-left: none;
  width: 50px;
}

.category-table tr th:nth-child(3),
.category-table tr td:nth-child(3) {
  width: 70px;
  border-right: none;
}


