/*=============== Add Product Form ===============*/
.add-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.add-product-header .back-btn i{
  font-size: 1rem;
  padding-top: 15px;
  padding-left: 5px;
}

.add-product-header .back-btn {
  margin-left: 2.5rem;
  margin-top: 1.5rem;
}

.add-product-header .add-product-btn {
  margin-top: 1.5rem;
  margin-right: 3rem;
}

.product-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.add-product-form .form-group {
  margin: 0 3rem 1.5rem 3rem;
}

.add-product-form .form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.add-product-form .form-group input {
  width: 100%;
  border: 1px solid lightgrey;
}

.add-product-form .form-group select {
  width: 100%;
}

.product-description {
  width: 100%;
}
