/*=============== Add Product Form ===============*/

.add-product-form {
  padding: 3rem;
}

.add-product-header {
  margin-bottom: 1rem;
}

.add-product-header button {
  position: absolute;
  max-width: 50px;
  top: 0;
  left: 43rem;
}

.add-product-header i {
  font-size: 1.8rem;
}

.add-product-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.add-product-form .form-group {
  margin: 1rem 0 2.5rem 2.5rem;
}

.add-product-form .section-title {
  text-align: center;
}

.add-product-form .form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.add-product-form .form-group input {
  width: 90%;
  border: 1px solid lightgrey;
}

.add-product-form .form-group select {
  width: 90%;
}

.product-description {
  width: 200%;
}

.add-product-form button {
  margin-top: 13rem;
  margin-left: -10rem;
  width: 75%;
}
