/*=============== Edit Product Form ===============*/
.edit-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.edit-product-header .back-btn i {
  font-size: 1rem;
  padding-top: 15px;
  padding-left: 5px;
}

.edit-product-header .back-btn {
  margin-left: 2.5rem;
  margin-top: 1.5rem;
}

.edit-product-header .update-product-btn {
  margin-top: 1.5rem;
  margin-right: 3rem;
}

.edit-product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1.5rem 2.5rem;
}


.edit-product-image {
  max-width: 230px;
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-product-form .form-group label {
  display: block;
  font-weight: 600;
  margin: 0.5rem 0;
}
.edit-product-form .form-group input {
  width: 90%;
  border: 1px solid lightgrey;
}

.edit-product-form .form-group select {
  width: 90%;
  border: 1px solid lightgrey;
}

.edit-description-container {
  margin: 1rem 2.5rem;
}

.edit-description {
  width: 100%;
  border: 1px solid lightgrey;
}
