/*=============== Edit Product Form ===============*/

.edit-product-form {
  padding: 3rem;
}

.edit-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.edit-product-header i {
  font-size: 1.2rem;
}

.edit-product-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.edit-product-form .form-group {
  margin: 0.5rem 0 0.5rem 2.5rem;
}

.edit-product-form .section-title {
  text-align: center;
}

.edit-product-image {
  max-width: 320px;
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-product-form .form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.edit-product-form .form-group input {
  width: 90%;
  border: 1px solid lightgrey;
}

.edit-product-form .form-group select {
  width: 90%;
  border: 1px solid lightgrey;
}

.edit-description {
  width: 200%;
  border: 1px solid lightgrey;
}

.edit-product-form .update-btn {
  margin-top: 10.5rem;
  margin-bottom: -2.5rem;
  margin-left: -10rem;
  width: 75%;
}
