.product-list {
  max-height: 350px;
}

.product-list .section-title {
  margin: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.product-table {
  table-layout: fixed;
  border-left: none;
  border-right: none;
}

.product-table tr {
  border-top: 1px solid lightgrey;
}

.product-table tr:last-child {
  border-bottom: 1px solid lightgrey;
}

.product-table tr th:nth-child(1),
.product-table tr td:nth-child(1) {
  width: 50px;
}

.product-table tr th:nth-child(2),
.product-table tr td:nth-child(2) {
  width: 380px;
}

.product-table tr th,
.product-table tr td {
  border-left: none;
  border-right: none;
  padding: 0.5rem;
  text-align: center;
}
