.edit-order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.edit-order-header .back-btn i {
  font-size: 1rem;
  padding-top: 15px;
  padding-left: 5px;
}

.edit-order-header .back-btn {
  margin-left: 2.5rem;
  margin-top: 1.5rem;
}

.edit-order-header .update-order-btn {
  margin-top: 1.5rem;
  margin-right: 3rem;
}

.order-group {
  display: flex;
  margin: 0 2.5rem;
  gap: 7rem;
}

.order-table-container {
  max-height: 200px;
  overflow-y: auto;
  margin: 1.5rem 2.5rem;
  padding: 1px 0;
}

.order-details-table tr th,
.order-details-table tr td {
  border: 1px solid lightgrey;
  padding: 0.2rem;
  text-align: center;
}

.order-details-grand-total {
  color: var(--main-color);
  font-weight: bold;
}

.order-actions {
  display: flex;
  justify-content: space-between;
  margin: 0 2.5rem;
}

.order-actions .form-group label {
  margin-right: 1rem;
}

.order-status-title {
  font-weight: bold;
  color: var(--main-color);
}

.order-shipping {
  margin: 1rem 2.5rem;
}

.order-shipping label {
  margin-right: 1.1rem;
}

.order-shipping input {
  width: 83%;
}
