.register-container {
  max-width: 400px;
  margin: 2rem auto 3.5rem auto;
  padding: 2rem 3rem;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
}

.register-container h1 {
  text-align: center;
}

.register-container .form-input {
  width: 100%;
  margin: 0.5rem 0 1rem 0;
}

.register-btn {
  width: 100%;
}

.login-link {
  display: block;
  text-align: center;
  margin-top: 1rem;
}
