/*=============== Brand Form ===============*/

.brand-form {
  padding: 3rem 3rem 4rem 3rem;
  border-bottom: 1px solid lightgrey;
}

.brand-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.brand-form .form-group {
  margin: 1rem;
}

.brand-form .section-title {
  text-align: center;
}

.brand-form .form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 1rem;
}

.brand-form .form-group input {
  width: 65%;
}

.brand-form .form-group select {
  width: 80%;
}

.brand-form .form-group button {
  margin-left: 2rem;
}

/*=============== Brand List ===============*/

.brand-list {
  max-height: 440px;
}

.brand-list .section-title {
  margin-top: 3rem;
  font-size: 1.5rem;
  text-align: center;
}

.brand-table {
  table-layout: fixed;
  border-left: none;
  border-right: none;
  margin-bottom: 1rem;
}

.brand-table tr:hover {
  background-color: #f2f2f2;
}

.brand-table tr th,
.brand-table tr td {
  padding: 0.5rem;
  text-align: center;
}

.brand-table tr th:nth-child(1),
.brand-table tr td:nth-child(1) {
  border-left: none;
  width: 50px;
}

.brand-table tr th:nth-child(2),
.brand-table tr td:nth-child(2) {
  width: 200px;
}

.brand-table tr th:nth-child(3),
.brand-table tr td:nth-child(3) {
  width: 200px;
}

.brand-table tr th:nth-child(4),
.brand-table tr td:nth-child(4) {
  border-right: none;
  width: 50px;
}
