.accounts-container {
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
  margin-bottom: 4rem;
}

.account-tabs {
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
  font-weight: bold;
}

.account-tab a {
  padding: 1.52rem 3rem;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  cursor: pointer;
  color: var(--comfort-black);
}

.account-tab .active {
  background-color: var(--main-color);
  color: var(--comfort-white);
}

.account-tab:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

/*=============== Account Tab ===============*/
.tab-content {
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
}

.tab-header {
  background-color: lightgrey;
  padding: 1rem;
}

.tab-body {
  padding: 1.5rem;
}

.tab-body input {
  display: block;
  width: 20rem;
  margin-bottom: 1rem;
}

.tab-body button {
  margin-left: 9rem;
  width: 33.5%;
}

/*=============== Order Table ===============*/
.my-order-table {
  margin-bottom: 1.25rem;
}

.my-order-table tr:hover {
  background-color: #f2f2f2;
}

.my-order-table tr th,
.my-order-table tr td {
  padding: 0.5rem;
  text-align: center;
}

.my-order-table tr th:nth-child(1),
.my-order-table tr td:nth-child(1) {
  width: 40px;
}

.my-order-table tr th:nth-child(2),
.my-order-table tr td:nth-child(2) {
  border-left: none;
  width: 250px;
}

.my-order-table tr th:nth-child(3),
.my-order-table tr td:nth-child(3) {
  width: 100px;
}

.my-order-table tr th:nth-child(4),
.my-order-table tr td:nth-child(4) {
  width: 120px;
}

.my-order-table tr th:nth-child(5),
.my-order-table tr td:nth-child(5) {
  width: 120px;
}

.my-order-table tr th:nth-child(6),
.my-order-table tr td:nth-child(6) {
  width: 80px;
}

.view-order {
  color: var(--main-color);
}

.content {
  line-height: 1.5rem;
}

.city {
  margin-bottom: 0.25rem;
}

.edit {
  font-size: var(--small-font-size);
}

.content label {
  display: inline-block;
  width: 9rem;
}

.content input {
  display: inline;
}

.country-dropdown {
  width: 20rem;
  margin-bottom: 1rem;
}

/*=============== MyOrder Table ===============*/
.my-order-details {
  margin-left: 2rem;
  padding-bottom: 0.3rem;
}

.myorder-group {
  display: flex;
  margin: 1rem 2.5rem;
  gap: 6rem;
}

.myorder-table-container {
  max-height: 109px;
  overflow-y: auto;
  margin: 0 4.5rem 1.5rem 2.5rem;
  padding: 1px 0;
}

.myorder-details-table tr th,
.myorder-details-table tr td {
  border: 1px solid lightgrey;
  padding: 0.2rem;
  text-align: center;
}

.myorder-details-grand-total {
  color: var(--main-color);
  font-weight: bold;
}

.myorder-actions {
  display: flex;
  justify-content: space-between;
  margin: 0 4.5rem 0 2.5rem;
}

.myorder-actions .form-group label {
  margin-right: 1rem;
}

.myorder-status-title {
  font-weight: bold;
  color: var(--main-color);
}

.myorder-shipping {
  margin: 1rem 2.5rem;
}

.myorder-shipping label {
  margin-right: 1.1rem;
}

.myorder-shipping input {
  width: 81%;
}
