/*=============== Catergories ===============*/

.categories-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}

.category-item {
  text-align: center;
  border: 1px solid lightgrey;
  padding: 1rem;
  border-radius: 0.25rem;
  color: var(--comfort-black);
}

.category-item:hover {
  color: var(--main-color);
  transition: var(--transition);
}

.category-title {
  font-size: 1rem;
}
