.details-container {
  grid-template-columns: 1fr 2fr;
  margin-top: 1rem;
}

.details-img {
  width: 450px;
  height: 500px;
  object-fit: cover;
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
}

.details-group {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.details-title {
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.details-brand {
  margin-block: 0.5rem;
}

.details-brand span {
  color: var(--main-color);
}

.details-price {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-block: 1.5rem;
  font-size: 2rem;
}

.details-description {
  margin-block: 1rem 4rem;
}

.details-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.details-list span {
  color: var(--main-color);
  font-weight: 700;
}

.details-action {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.details-quantity {
  display: flex;
  gap: 1rem;
}

.details-action-btn {
  display: inline-block;
  border: 1px solid var(--main-color);
  padding-inline: 0.8rem;
  height: 50px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.25rem;
  cursor: pointer;
}

.item-quantity {
  width: 3rem;
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
  text-align: center;
}

.out-of-stock {
  display: inline-block;
  background-color: grey;
  border: 2px solid grey;
  color: var(--comfort-white);
  padding-inline: 1.75rem;
  height: 50px;
  line-height: 50px;
  border-radius: 0.5rem;
  font-family: "Spartan", sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
}

.borderline {
  margin: 4rem;
  border-bottom: 1px solid lightgrey;
}