/*=============== Shop ===============*/

.shop {
  display: grid;
  gap: 1rem;
  max-width: fit-content;
}

.items-container {
  display: flex;
  font-size: 1.2rem;
  grid-column: 2;
  justify-content: center;
}

.items-container.none-items {
  justify-content: flex-start;
}

.items-container span {
  color: var(--main-color);
  font-weight: 600;
}

/*=============== Filters ===============*/

.filters-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-start;
}

.search {
  margin: 1rem;
}

.categories-container {
  display: flex;
  flex-direction: column;
  max-width: 16.3rem;
}

.categories-item {
  text-align: center;
  border: 1px solid lightgrey;
  padding: 1rem;
  margin: 0.3rem 1rem;
  border-radius: 0.25rem;
  color: var(--comfort-black);
  cursor: pointer;
}

.categories-item.active {
  background-color: var(--main-color);
  color: white;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 1rem;
}

.sorting {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sorting span {
  font-size: 1.2rem;
}

/*===============  Products ===============*/

.products-container {
  grid-column: 2;
}

.products-details {
  margin: 1rem 0 2rem 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
